/*Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

/*End fonts*/

.header {
  background-color: #253745;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header h1 {
  color: white;
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
.header h1 span {
  color: #05d2d2;
}

.header ul {
  display: flex;
}

.header ul li {
  color: white;
  list-style: none;
}

.header ul li a {
  color: white;
  text-decoration: none;
  text-decoration-line: none;
  margin: 30px;
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  background: linear-gradient(
      to right,
      rgba(100, 200, 200, 0),
      rgba(100, 200, 200, 0)
    ),
    linear-gradient(
      to right,
      rgb(245, 245, 245),
      rgba(255, 255, 255, 0.664),
      rgba(255, 255, 255, 0.363)
    );
  background-size: 100% 0.1em, 0 0.1em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}
.header ul li a:hover,
.header ul li a:focus {
  background-size: 0 2em, 100% 0.1em;
}
.miniIcons {
  display: flex;
}
.miniIcons img {
  margin: 10px;
}
